@mixin button-style() {
  background-color: $orange;
  color: $white;
  font-size: 16px;
  font-weight: bold;
  padding: 15px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2)
}

@mixin navy-button() {
  background-color: $dark-navy;
  color: $white;
  font-size: 16px;
  font-weight: bold;
  // padding: 15px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2)
}

@mixin button-hover() {
  cursor: pointer;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.4)
}

@mixin flex-column() {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

@mixin card-shadow() {
  box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.2)
}

@mixin nav-shadow() {
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.5)
}

@mixin link-button-style() {
  background-color: transparent;
  color: $dark-navy;
  border: none;
  border-bottom: 2px solid $dark-navy;
  width: 50vw;
  font-size: 20px;
}

@mixin white-container() {
  @include card-shadow();
  background-color: $white;
  margin: 5%;
  border-radius: 6px;
  min-height: 44vh;
  padding: 7%;
}
