@import './_variables';
@import './_mixins';

.dropdown-container{
  padding: 2vh 0;
  background-color: $white;
  @include flex-column();
  @include card-shadow();
  align-items: center;
  width: 100%;
  height: 18vh;
  justify-content: space-between;
  border-bottom: 10px solid $dark-navy;
}

.manage-link-btn,
.home-link-btn,
.stats-link-btn{
  @include link-button-style();
}

.score-link-btn {
  @include link-button-style();
  border: none;
}
