@import './_variables';
@import './_mixins';

.dropdown-container{
  background-color: $white;
  @include flex-column();
  @include card-shadow();
  align-items: center;
  width: 100%;
  justify-content: flex-start;
}

.manage-link-btn {
  @include link-button-style();
}

.score-link-btn {
  @include link-button-style();
  border: none;
}

.manage-link-btn,
.score-link-btn {
  padding: 20px;
}