@import './_variables';
@import './_mixins';

.modal {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  display: flex;
  justify-content: space-between;
}

.modal-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  margin: auto;
  padding: 25px;
  width: 50%;
  overflow-y: auto;
  bottom: 50px;
  text-align: center;
  font-size: 32px;
}

.modal-btn {
  @include button-style()
}