@import './_reset';
@import './_variables';
@import './_mixins';

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  background-color: $grey;
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
