@import './_variables';
@import './_mixins';

nav {
  @include nav-shadow();
  background-color: $dark-navy;
  color: $white;
  padding: 2% 4% 2% 4%;
  display: flex;
  justify-content: space-between;
  height: 10vh;
}

.logo {
  margin: 1%;
  height: 10vh;
}

.dropdown-button {
  background-color: transparent;
  border: none;
  color: $white;
  font-size: 40px;
}
