@import './_variables';
@import './_mixins';

nav {
  @include nav-shadow();
  background-color: $dark-navy;
  color: $white;
  padding: 5%;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 53%;
}

.dropdown-button {
  background-color: transparent;
  border: none;
  color: $white;
  font-size: 40px;
}
