@import './_variables';
@import './_mixins';

.round-players-container {
  @include white-container();

  display: flex;
  flex-direction: column;
}

.player-line-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

.player-info-container {
  margin: 5% 0;
}

.go-home {
  @include button-style();
  width: 75vw;
}

.bold {
  font-weight: 650;
}

.round-date,
.round-par {
  margin: 0;
}

.round-date {
  border-bottom: 2px solid $dark-navy;
}

.go-home-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  left: 0;
  right: 0;
  margin-top: 5%;
}