@import './_variables';
@import './_mixins';

.start-round-button {
  @include button-style();
  width: 100%;
  margin-top: auto;
  padding: 15px 50px;
}

.choose-players-container {
  @include white-container();
  display: flex;
  flex-direction: column;
}

.bold {
  font-weight: 700;
}

p {
  margin: .5% 0;
}

.player-names {
  margin-top: 5%;
}

.round-button-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  margin-top: 5%;
}

h2 {
  margin-bottom: 5%;
}