@import './_variables';
@import './_mixins';

.player-score-container {
  @include white-container();
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  // height: 77vh;
  padding: 5% 5% 2% 5%;
}

.next-hole-btn,
.end-round-btn {
  @include button-style();
}

.hole-number {
  text-align: center;
  font-size: 35px;
  font-weight: 500;
  margin: 3%;
}

.hole-details {
  display: flex;
  justify-content: space-around;
}

.par,
.distance {
  margin: 0;
}

.scorecard-btn-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
}

.next-hole-btn,
.end-round-btn,
.end-round-early-btn {
  margin: 4%;
}

.next-hole-btn,
.end-round-btn {
  width: 100%;
}

.end-round-early-btn {
  margin: 1% 0 2% 0;
}