@import './_variables';
@import './_mixins';

.player-score-container {
  @include white-container();
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.next-hole-btn,
.end-round-btn {
  @include button-style();
}

.hole-number {
  text-align: center;
  font-size: 50px;
  font-weight: 500;
}

.start-round-button {
  @include button-style();
}
