@import './_variables';
@import './_mixins';

.choose-course-btn {
  @include button-style();
  width: 100%;
  margin-top: 5%;
}

.single-course-container {
  @include white-container()
}

.bold {
  font-weight: 700;
}

p {
  margin: 2% 0;
}